<!DOCTYPE html>
<html>
<head>
    <title>SF2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body{
            padding-top: 60px;
        }
    </style>
</head>
<body>
<!-- menu -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Exercices</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">---------- <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">----------</a></li>
                        <li><a href="#">----------</a></li>
                    </ul>
                </li>
                <!--<li><a href="#">Aide</a></li>-->
            </ul>
            <!--                    <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Identification <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Connection</a></li>
                                        </ul>
                                    </li>
                                </ul>-->
        </div>
    </div>
</nav>
<!-- menu end -->

<div class="container">
    <div class="row">
        {% block body %}{% endblock %}
        <!-- block body -->
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>